* {
    margin: 0;
    padding: 0;

}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(255,249,238);
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    background-color: white;
}

a {
    text-decoration: none;
}

header p {
    font-family: 'Roboto-Medium', sans-serif;
    color: black;
    
}

header p:hover{
    color: orange;
}

.logo {
    width: 80px;
    height: 70px;
    /* border: 1px solid black; */
    overflow: hidden;
}

.logo img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.h-selecoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 700px;
    /* border: 1px solid black; */
    font-size: large;
}

.h-botao {
    width: 250px;
    height: 45px;
    background-color: orangered;
    border-radius: 30px;
    color: white;
    font-size:medium;
    font-weight: bold;
    cursor: pointer;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s-container{
    display: flex;
    align-items: center;
    background-image: url("../assets/images/mulher-meditando.png");
    background-position: center;
    background-repeat: repeat;
    background-position-y: -120px;
    width: 100%;
    height: 50rem;
}

.s-conteudo{
    width: 600px;
    height: 300px;
    /* border: 1px solid white; */
    margin-left: 10%;
}

.s-conteudo p {
    font-size:100px;
    white-space: nowrap;
    color: white;
    font-family: 'Roboto-Bold';
    animation: texto 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes texto {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.s-conteudo button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    font-family: 'Roboto-Bold';
    font-size: large;
    border: none;
    cursor: pointer;
}

.swiper{
    display: flex;
    width: 90%;
    height: 90px;
    background-color: rgb(255,249,238);

}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img{
    height: 100%;
    object-fit: contain;
    display: block;
}

.solucoes{
    display: flex;
    width: 100%;
    height: 500px;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    width: 23rem;
    height: 50%;
    /* border: 1px solid black; */
    justify-content: space-evenly;

}

.info p:first-child{
    font-family: 'Roboto-Bold';
    font-size: 40px;
}

.info p {
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

.info button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    font-family: 'Roboto-Bold';
    font-size: large;
    border: none;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 90%;
    /* border: 1px solid black; */
}

.card{
    width: 230px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(206, 206, 206);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;

    animation: card 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes card {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.card img{
    width: 140px;
    margin-bottom: -15px;
    transition: transform 0.3s ease-in-out;
}

.card img:hover{
    transform: scale(1.2);
}

.card h1{
    font-family: 'Roboto-Bold';
}

.card p{
    font-family: 'Roboto';
}


.resultados{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: rgb(255,249,238);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-resultado{
    width: 400px;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.card-resultado:hover{
    	animation: sombra 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes sombra {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}


.resultados img{
    width: 140px;
    border-radius: 50%;
    
}

.resultados h1{
    font-family: 'Roboto-Bold';
    font-size: 40px;
    color: orangered;
}

.resultados p{
    font-family: 'Roboto-Regular';
}

.material{
    width: 70%;
    height: 310px;
    border-radius: 18px;
    background-color: rgb(255, 94, 35);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.material-info{
    width: 45%;
    height: 250px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 14px;
}

.material h1{
    font-family: 'Roboto-Bold';
    color: white;
    font-size: 40px;
}

.material p{
    font-family: 'Roboto-Regular';
    color: white;
    font-size: 19px;
}

.material button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    color: orangered;
    font-family: 'Roboto-Bold';
    font-size: large;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;
}

.material button:hover{
    background-color: rgb(58, 212, 58);
    color: black;
}

.imagem-guia{
    width: 50%;
    height: 280px;
    /* border: 1px solid black; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-guia img{
    width: 70%;
    box-shadow: 1px 1px 15px 1px black;
    
}

